@import './base.css';


a,
.blue {
  text-decoration: none;
  color: #1477d3;
  transition: 0.4s;
}

.roxo{
  color: #8100bd;
}

.white{
  color: #fff;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(226, 100%, 37%, 0.2);
  }
  .btn:hover{
    background-color: #8100bd;
    color: white;
  }
}

.bg-default,table{
  background: #181818;
}

.card{
  border: 1px solid #EBEBEBA3;
}

input.form-control,select.form-select,textarea{
  background-color: #EBEBEBA3;
  
}

select.form-select::after{
  color: white !important;
  box-shadow: white;
}

.form-select:focus{
  border-color:  white;
}

.btn{
  background:#1477d3;
  color: white;
}